/**VARIABLES**/
/*color*/
/*font*/
/*animation*/
/*breakpoint*/
/*mixin*/
/**RESET**/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font: 400 1em/1.5 "Sora", Arial, Helvetica, sans-serif;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  color: #222;
}

img {
  border-style: none;
}

a {
  text-decoration: underline;
  color: #00e2c9;
  outline: none !important;
  transition: all 0.4s linear;
}

a:hover {
  text-decoration: none;
}

a:active {
  background-color: transparent;
}

header,
footer,
article,
section,
nav,
figure,
aside {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

/**STYLEGUIDE**/
h1,
.h1 {
  font: 800 2.125em/1.08 "Sora", Arial, Helvetica, sans-serif;
  letter-spacing: -0.02em;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3.25em;
    line-height: 1.37;
    letter-spacing: -0.03em;
  }
}

h2,
.h2 {
  font: 800 1.875em/1.4 "Sora", Arial, Helvetica, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 3.125em;
    line-height: 1.26;
    letter-spacing: -0.02em;
  }
}

h3,
.h3 {
  font: 800 1.5625em/1.52 "Sora", Arial, Helvetica, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 2.5em;
    line-height: 1.5;
  }
}

h4,
.h4 {
  font: 800 1.375em/1.37 "Sora", Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.875em;
    letter-spacing: 0.01em;
  }
}

h5,
.h5 {
  font: 800 1.25em/1.45 "Sora", Arial, Helvetica, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  h5,
  .h5 {
    font-size: 1.5em;
    line-height: 1.21;
  }
}

p {
  margin: 0 0 20px;
}

.button {
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin: 0 auto 0 0;
  min-width: 190px;
  color: #222;
  font-weight: 800;
  text-decoration: none;
  background: #00e2c9;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.4s linear;
}

@media only screen and (min-width: 768px) {
  .button {
    display: inline-block;
    width: auto;
  }
}

.button:hover {
  border-color: #00e2c9;
  background: #222;
  color: #00e2c9;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  position: relative;
  padding: 0 0 5px 15px;
}

ul li:before {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background: currentColor;
}

ul li:last-child {
  padding-bottom: 0;
}

.wrapper {
  overflow: clip;
  width: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 22px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1920px;
    padding: 0 80px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    padding: 0 110px;
  }
}

/*HEADER*/
.header {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  padding: 10px 0;
  z-index: 200;
}

.header > .container {
  display: flex;
  align-items: center;
}

.logo a {
  color: #222;
  text-decoration: none;
  font-weight: 400;
}

.nav-open-close {
  width: 20px;
  height: 15px;
  position: relative;
  display: block;
  border: 0;
  text-decoration: none;
  margin: 0 10px 0 0;
}

@media only screen and (min-width: 1920px) {
  .nav-open-close {
    display: none;
  }
}

.nav-open-close:before, .nav-open-close:after,
.nav-open-close span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  transition: all 0.4s linear;
  background: #222;
}

.nav-open-close span {
  top: 50%;
  transform: translateY(-50%);
}

.nav-open-close:after {
  top: auto;
  bottom: 0;
}

.active-header .nav-open-close span {
  opacity: 0;
}

.active-header .nav-open-close:before {
  z-index: 2;
  transform: rotate(-45deg) translate(-4px, 4px);
}

.active-header .nav-open-close:after {
  transform: rotate(45deg) translate(-5px, -5px) scaleX(-1);
}

.nav {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 100%;
  left: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s linear;
}

@media only screen and (min-width: 1920px) {
  .nav {
    position: relative;
    top: auto;
    left: auto;
    max-height: 100%;
    padding: 0 5%;
    overflow: visible;
  }
}

.active-header .nav {
  height: auto;
  max-height: calc(100vh - 50px);
  box-shadow: 0 5px 10px rgba(34, 34, 34, 0.2);
}

@media only screen and (min-width: 1920px) {
  .active-header .nav {
    box-shadow: 0 5px 10px rgba(34, 34, 34, 0);
  }
}

.nav > ul {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #222;
  overflow-y: auto;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .nav > ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1920px) {
  .nav > ul {
    border: 0;
    padding: 0;
    overflow: visible;
  }
}

.nav > ul > li {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1920px) {
  .nav > ul > li {
    position: relative;
    margin: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .nav > ul > li.has-child {
    padding: 0 20px 0 0;
    background: url("../images/down-arrow.svg") no-repeat 100% 50%;
  }
}

.nav > ul ul {
  font-weight: 400;
  padding-left: 20px;
}

@media only screen and (min-width: 1920px) {
  .nav > ul ul {
    padding-left: 0;
  }
}

.nav li {
  padding: 0;
}

.nav li:before {
  display: none;
}

.nav li:hover .header-drop-menu {
  opacity: 1;
  pointer-events: all;
}

.nav a {
  color: #222;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1920px) {
  .nav .header-drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 200px;
    overflow: hidden;
    transition: all 0.4s linear;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    border: 1px solid rgba(34, 34, 34, 0.2);
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.2);
  }
}

.header-icon-list {
  margin: 0 0 0 auto;
  display: flex;
  gap: 10px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .header-icon-list {
    gap: 30px;
    margin: 0 0 0 20px;
  }
}

.header-icon-list li {
  padding: 0;
}

.header-icon-list li:before {
  display: none;
}

.header-icon-list a {
  color: #222;
  text-decoration: none;
  text-align: center;
}

.header-icon-list a:hover {
  color: #00e2c9;
}

.header-icon-list a span {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-icon-list a span {
    display: block;
  }
}

.header-icon-list a svg {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.header-icon-list a svg path {
  transition: all 0.4s linear;
  fill: currentColor;
}

.header-icon-list a svg.stroke path {
  fill: none;
  stroke: currentColor;
}

@media only screen and (min-width: 768px) {
  .header-icon-list .phone-button,
  .header-icon-list .search-button {
    display: none;
  }
}

.header-icon-list .find-button {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-icon-list .find-button {
    display: block;
  }
}

.search {
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s linear;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .search {
    position: relative;
    top: auto;
    left: auto;
    max-height: 40px;
    margin: 0 0 0 auto;
    width: 30%;
  }
}

.active-header-search .search {
  height: auto;
  max-height: calc(100vh - 50px);
}

.search form {
  padding: 20px;
  border-top: 1px solid #222;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .search form {
    border: 0;
    padding: 0;
    width: 100%;
  }
}

.search input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background: #ebebeb url("../images/search.svg") no-repeat 10px 50%;
  padding: 10px 35px;
}

.search .search-row {
  position: relative;
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  opacity: 0.6;
}

.search button svg {
  width: 24px;
  height: 24px;
}

.search button path {
  transition: all 0.4s linear;
  fill: currentColor;
}

/**MAIN**/
/*hero-section*/
.hero-section {
  position: relative;
  background: #222;
  color: #fff;
  min-height: 350px;
}

.hero-section .picture-bg {
  max-height: 100vh;
  margin: 0 -22px;
}

@media only screen and (min-width: 768px) {
  .hero-section .picture-bg {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.hero-section .picture-bg img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .hero-section .picture-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-section .text {
  background: #222;
  text-align: center;
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .hero-section .text {
    text-align: left;
    max-width: 500px;
    background: none;
    padding: 50px 0;
    position: relative;
    z-index: 2;
  }
}

.hero-section .button {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .hero-section .button {
    width: auto;
    display: inline-block;
  }
}

/*cards-section*/
.cards-section {
  padding: 50px 0;
}

.cards-section h2 {
  margin: 0 0 30px;
}

.cards-slider {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .cards-slider {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.3);
  border: 1px solid transparent;
  transition: all 0.4s linear;
}

.card:hover {
  border-color: rgba(34, 34, 34, 0.2);
  box-shadow: 0 0 20px rgba(0, 226, 201, 0.3);
}

.card .picture img {
  width: 100%;
  height: auto;
}

.card .text {
  padding: 20px;
}

.card .text ul {
  font-size: 14px;
}

.card .price {
  display: block;
  margin: 0 0 10px;
}

.card .link {
  position: absolute;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*reverse-section*/
.reverse-section {
  background: #ededed;
}

@media only screen and (min-width: 768px) {
  .reverse-section {
    padding: 50px 0;
  }
}

.reverse-section.black {
  background: #222;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .reverse-section.reverse .picture {
    order: -1;
  }
}

@media only screen and (min-width: 768px) {
  .reverse-section .container {
    display: grid;
    gap: 5%;
    grid-template-columns: 40% 60%;
  }
}

@media only screen and (min-width: 768px) {
  .reverse-section .picture {
    order: 2;
  }
}

.reverse-section .picture img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .reverse-section .picture img {
    border-radius: 20px;
  }
}

.reverse-section .text {
  padding: 30px 22px;
}

@media only screen and (min-width: 768px) {
  .reverse-section .text {
    padding: 0;
    align-self: center;
  }
}

.reverse-section h2 {
  margin: 0 0 10px;
}

.reverse-section .columns {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 20px;
}

.reverse-section .columns p {
  margin: 0;
}

.reverse-section h4 {
  margin: 0 0 10px;
}
